<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=192.168.1.184;Initial Catalog=otomax;Integrated Security=False;User Id=act;Password=s4m4r4n_g;Min Pool Size=1;Max Pool Size=2;" />
	</appSettings>
	<runtime>
		<legacyUnhandledExceptionPolicy enabled="1"/>
	</runtime>
</configuration>